

<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head><meta charset="utf-8" /><meta name="robots" content="noindex, nofollow" /><meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <script type="text/javascript" src="/static/js/register.js"></script>
	<link rel="stylesheet" href="/static/public/css/style.css">
	<link rel="stylesheet" href="/static/public/css/darkel.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" href="/static/css/register.css" />
    <link rel="stylesheet" href="/static/css/core.css">
	<link rel="stylesheet" href="/static/css/theme.css">
	<title>Global Trust Bank | Account </title>
	<link rel="icon" href="images/logo.png" type="image/icon type">
	<script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

  <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = 'a2278234e255e3d65e6c4997483cde0f5e45e1e6';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>	<!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Flatpickr JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<style>
.avatar-upload {
	display: flex;
	justify-content: center; 
	align-items: center;
	flex-direction: column;
	margin-top: 5%;
	/* margin-bottom: 7%; */
	.avatar-edit {
	position: absolute;
	right: -100px;
	z-index: 1;
	top: 10px;
	input {
	display: none;
	+ label {
		display: inline-block;
		width: 34px;
		height: 34px;
		margin-bottom: 0;
		border-radius: 100%;
		background: #FFFFFF;
		border: 1px solid transparent;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
		cursor: pointer;
		font-weight: normal;
		transition: all .2s ease-in-out;
		&:hover {
			background: #f1f1f1;
			border-color: #d6d6d6;
		}
		&:after {
			content: "\f040";
			font-family: 'FontAwesome';
			color: #757575;
			position: absolute;
			top: 10px;
			left: 0;
			right: 0;
			text-align: center;
			margin: auto;
		}
	}
	}
	}
	.avatar-preview {
		width: 70px;
		height: 70px;
		position: relative;
		border-radius: 100%;
		border: 5px solid #837f7f;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
		> div {
		width: 100%;
		height: 100%;
		border-radius: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		}
		}
	}
.btn-default {
    background-color: #042e3d;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    color: #1a1919;
    padding: 14px;
    border: 0;
    text-align: center;
	font-size: medium;
	text-decoration: none;
}
.btn-default:hover{
	background-color: #00A3E0;
	color: #0d0c0c;
}
.btn-submit-form{
	text-align: center;
}
.goog-te-gadget{
    font-size: 0px;
    }
.goog-logo-link{
    display: none;
    }
select.google_translate_element {
    color: black;
    }
#google_translate_element {
    height: 26px !important;
    overflow: hidden !important;
    }

.goog-te-combo {
    width: 140px;
    height: 100%;
    font-size: 15px;
}
</style>
</head>
<body>
	<div class="top-header-area">
		<div class="container h-100">
		  <div class="row h-100 align-items-center">
			<div class="col-12 d-flex justify-content-between">
			  <!-- Logo Area -->
			  <div class="logo pt-3">
				
				<a href="/">
				  <img style="width: 200px; height: 60px"  src="/static/images/logo.png" alt="site-logo"> 
				</a>
			  </div>
  
			  <!-- Top Contact Info -->
			  <div class="top-contact-info d-flex align-items-center">
				<div class="form-group form-group-sm mt-3">
				  <label class="d-none d-md-inline">Change language:</label>
				    <div id="google_translate_element"></div>
				</div>
  
				<a hidden href="#" data-toggle="tooltip" data-placement="bottom" title="1122 Lyndon Buckner Blvd Ste 109, Dallas, TX 75302"><img src="/static/public/img/core-img/placeholder.png" alt=""> <span>1122 Lyndon Buckner Blvd Ste 109, Dallas, TX 75302</span></a>
				<a hidden data-toggle="tooltip" data-placement="bottom" title="support@swedstrust.us"><img src="/static/public/img/core-img/message.png" alt=""> <span>support@swedstrust.us</span></a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	


<div class="account-background">
<div class="container-fluid">
<div class="row">
	<div class="col-12">
		<!-- <a href="/" alt="Solid" title="Solid">
			<img src="/static/public/images/logo/newlogo1.png" class="logo">
		</a> -->
  
        <form class="select_option" action="/signup/" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="wjoZhdh1nAYnWwSfmqF5VMhXrNuXYWF5lS8AEUl3vnJm8TtRGgnom9FfDUObltVz">
        <div class="account account-big">
            <div class="row">
                <div class="col-12 d-flex align-items-center">
                    <!-- <a href="" title="Melissa Global Intelligence">
                        <img src="/static/images/logo.png" class="" style="width: 70px; height: 50px; margin-right: 6px; margin-bottom: 5px;">
                    </a> -->
                    <h3 class="">Create Account
                    </h3>
                    <div style="margin-left: auto;">
                        <a href="/login/"<button type="button" class="btn btn-light" style="font-weight: bold; color: white;">Login</button></a>
                    </div>
                </div>
            </div>
            <hr style="border-top: 1px solid rgb(212 221 231 / 60%);">
            <div class="row position-relative mt-2">
                <div class="col-12 col-md-8">
                    <h6 class="mt-0 d-flex align-items-baseline">
                        <i class="fas fa-user mr-2" style="color: #00A3E0; font-size: 14px;"></i>Personal Information
                    </h6>
        
                    <div class="row mt-3">
                        <div class="col-12 col-md-6">
                            <label>
                                First Name
                            </label><label class="mt-3 text-danger"></label>
                            <input name="first_name" type="text" required maxlength="50" class="form-control" />
        
                            <label class="mt-3">
                                Middle Name (optional)
                            </label><label class="mt-3 text-danger"></label>
                            <input name="middle_name" type="text" maxlength="50" class="form-control" />
                            <label class="mt-3">
                                Last Name
                            </label><label class="mt-3 text-danger"></label>
                            <input name="last_name" type="text" required maxlength="50" class="form-control" />
        
                            <label class="mt-3">username</label><label class="mt-3 text-danger"></label>
                            <input name="username" type="text" required maxlength="50" class="form-control" />
        
                            <label class="mt-3">Phone</label><label class="mt-3 text-danger"></label>
                            <input name="phone" type="text" required maxlength="32" class="form-control" />
        
                            <div class="row mt-3">
                                <div class="col-12 col-md-6">
                                    <label>Gender</label><label class="mt-3 text-danger"></label>
                                    <select name="gender" required class="custom-select form-control">
                                        <option value="">[ Please Select ]</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
        
                                <div class="col-12 col-md-6 mt-3 mt-md-0">
                                    <label for="date_of_birth">Date of Birth</label>
                                    <label class="mt-3 text-danger"></label>
                                    <input id="date_of_birth" name="date_of_birth" required type="date" maxlength="10" placeholder="Select Date" class="form-control date-picker" />
                                </div>						
        
            
                            </div>
        
                        </div>
        
            <div class="col-12 col-md-6 mt-md-0">
            <label class="mt-md-3">
                Email
            </label><label class="mt-3 text-danger"></label>
            <input type="email" name="email" maxlength="60" required class="form-control" />
        
            <label class="mt-3">Address</label><label class="mt-3 text-danger"></label>
            <input name="address" type="text" maxlength="256" required class="form-control" />
        
        
            <div class="select_option">
                <label class="mt-3">Country</label><label class="mt-3 text-danger"></label>
                <select class="form-select country form-control" required name="mycountry" aria-label="Default select example" onchange="loadStates()">
                    <option selected>Select Country</option>
                    <input type="hidden" id="country" name="country">
                </select>
        
                <div class="row mt-3">
                    <div class="col-12 col-md-6 mt-3 mt-md-0">
                        <label>State / Province</label><label class="mt-3 text-danger"></label>
                        <select class="form-select state form-control" name="mystate" aria-label="Default select example" onchange="loadCities()">
                            <option selected>Select State</option>
                            <input type="hidden" id="state" name="state"	>
                        </select>
                    </div>
        
                    <div class="col-12 col-md-6 mt-3 mt-md-0">
                    <label>City / Locality</label><label class="mt-3 text-danger"></label>
                    <select class="form-select city form-control" name="mycity" aria-label="Default select example">
                        <option selected>Select City</option>
                        <input type="hidden" id="city" name="city">
                    </select>
                    </div>
                </div>
        
            </div>
        
            <label>Postal Code</label><label class="mt-3 text-danger"></label>
            <input name="zipcode" type="text" maxlength="10" required class="form-control" />
        
            <label>Account type</label><label class="mt-3 text-danger"></label>
            <select name="account_type" required class="custom-select form-control">
                <option value="1">[ Please Select ] </option>
                <option value="Savings Account">Savings Account</option>
                <option value="Checking Account">Checking Account   </option>
                <option value="Transit and Confidential">Transit and Confidential   </option>
            </select>
        
        
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-md-0">
            <label>
                Password (minimum 8 characters)
                <!-- First Password Field -->
                <label>Password</label><label class="mt-3 text-danger"></label>
                <div class="password-container">
                    <input id="password1" name="password1" required type="password" maxlength="20" class="form-control" />
                    <i class="fas fa-eye toggle-password"></i>
                </div>
            
                <!-- Second Password Field -->
                <label class="mt-3">Confirm Password</label><label class="mt-3 text-danger"></label>
                <div class="password-container">
                    <input id="password2" name="password2" required type="password" maxlength="20" class="form-control" />
                    <i class="fas fa-eye toggle-password"></i>
                </div>
        
        
            <label class="mt-3 profilelabel">Profile Image</label>
            <div class="avatar-upload">
            
                <!-- <div class="avatar-edit"> -->
                    <input name="image" type='file' id="imageUpload" required accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload"></label>
                <!-- </div> -->
                <div class="avatar-preview">
                    <div id="imagePreview" style="background-image: url(/static/images/default.jpg);">
                    </div>
                    
                </div>
                
                <label class="mt-3 text-danger"></label>
                <script>
                    function readURL(input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function(e) {
                                $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                                $('#imagePreview').hide();
                                $('#imagePreview').fadeIn(650);
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                    $("#imageUpload").change(function() {
                        readURL(this);
                    });
                    </script>
            </div>
            <br>
        
            <div class="d-flex align-items-center mb-2">
                <label class="custom-control material-checkbox ml-0 mb-0">
                    <input name="terms" type="checkbox" required />
                    <span class="material-control-description">&nbsp; I agree to accept the Global Trust Bank <a href="/terms/" target="_blank">Terms and Privacy Policy</a>
                    </span>
                </label>
            </div>
            <div class="btn-submit-form">
                <input type="submit" name="submit" value="Create Account Now" id="signup-btn" class="btn-default d-block mt-3 w-100" onclick="populateHiddenFields()" />
            </div>
            <p class="text-center mt-2" style="line-height: 15px; color: #8690a6; font-size: 15px;">
                <small>Your account will be activated once you click on the link in the verification email which will be sent to you after completing this form.
                </small>
            </p>
        </div>
        </div>
        </div>
        </form>
            <div class="account account-big">
                <span id="ctl00_ContentPlaceHolder1_lblMsg" style="font-weight:bold;"></span>
            </div>
        
        
        
                            </div>
                    </div>
                </div>
            </div>
    <footer class="footer-account">
        <div class="container-fluid">
			<div class="footer-area">
				<div class="copywrite-area">
			
				  
						<div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
			
						  <!-- Copywrite Text -->
						  <p class="copywrite-text align-items-center">
							<center>
						 <a href="#">Copyright &copy; 1986-<script>document.write(new Date().getFullYear());</script> 
					        All Rights Reserved | Global Trust Bank </a>
						  </center>
						  </p>
			
				  </div>
				</div>
			  </div>
        </div>
    </footer>

    <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	  
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-rqn26AG5Pj86AF4SO72RK5fyefcQ/x32DNQfChxWvbXIyXFePlEktwD18fEz+kQU" crossorigin="anonymous">
    <!-- Google Tag Manager (noscript) -->
	<script src="/static/js/app.js"></script>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMW4CZH"
            height="0" width="0" style="display:none;visibility:hidden">
        </iframe>
    </noscript>

		

	<script>
    (function() {
        function onTidioChatApiReady() {
        if (localStorage.getItem('tidioChatOpen') === 'true') {
            window.tidioChatApi.show();
            window.tidioChatApi.open();
        } else {
            window.tidioChatApi.hide();
        }
    
        window.tidioChatApi.on("close", function() {
            window.tidioChatApi.hide();
            localStorage.setItem('tidioChatOpen', 'false');
        });
    
        document.querySelector(".chat-button").addEventListener("click", function() {
            window.tidioChatApi.show();
            window.tidioChatApi.open();
            localStorage.setItem('tidioChatOpen', 'true');
        });
        }
    
        if (window.tidioChatApi) {
        window.tidioChatApi.on("ready", onTidioChatApiReady);
        } else {
        document.addEventListener("tidioChat-ready", onTidioChatApiReady);
        }
    })();
    </script>
		
	<script>
    function populateHiddenFields() {
        var countrySelect = document.querySelector('.country');
        var countryHidden = document.getElementById('country');
        countryHidden.value = countrySelect.options[countrySelect.selectedIndex].text;

        var stateSelect = document.querySelector('.state');
        var stateHidden = document.getElementById('state');
        stateHidden.value = stateSelect.options[stateSelect.selectedIndex].text;

        var citySelect = document.querySelector('.city');
        var cityHidden = document.getElementById('city');
        cityHidden.value = citySelect.options[citySelect.selectedIndex].text;
    }

    // DATE
    document.addEventListener("DOMContentLoaded", function() {
        flatpickr("#date_of_birth", {
            dateFormat: "Y-m-d",
            altInput: true,
            altFormat: "F j, Y",
            maxDate: "today",
            allowInput: true,
            wrap: false,
            clickOpens: true
        });
    });
	</script>
<!-- 
Password visibility -->
<script>
    document.querySelectorAll('.toggle-password').forEach(item => {
        item.addEventListener('click', function () {
            const passwordField = this.previousElementSibling;
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    });
</script>

 <!-- ##### All Javascript Script ##### -->
  <!-- jQuery-2.2.4 js -->
  <script src="/static/public/js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="/static/public/js/bootstrap/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'public/js/bootstrap/bootstrap.min.js}' %]"></script>
  
  <!-- Sweet Alert -->
  <script src="cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.html"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</body>
</html>
