
<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Global Trust Bank | Account </title>
	<link rel="icon" href="images/logo.png" type="image/icon type">

	<!-- including stylesheets -->
	<link rel="stylesheet" href="/static/font-awesome.css">
	<link rel="stylesheet" href="/static/css/core.css">
	<link rel="stylesheet" href="/static/css/theme.css">
	<!-- including layerslider stylesheets -->
	<link rel="stylesheet" href="/static/css/layerslider.css">
    	<link rel="stylesheet" href="/static/css/skin.css">
	<!-- including colorpicker stylesheets -->
	<link href="/static/css/colorpicker.css" rel="stylesheet" type="text/css">

	  <!-- Smartsupp Live Chat script -->
	<script type="text/javascript">
	var _smartsupp = _smartsupp || {};
	_smartsupp.key = 'a2278234e255e3d65e6c4997483cde0f5e45e1e6';
	window.smartsupp||(function(d) {
	  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
	  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
	  c.type='text/javascript';c.charset='utf-8';c.async=true;
	  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
	})(document);
	</script>
	<!-- Signup links -->
	<link href="/static/custom/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/static/custom/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/static/custom/css/main.css" rel="stylesheet" media="all">
</head>
<div class="nav-wrap">
	<div class="container">
		<div class="site-logo retina">
			<a href="/">
				<img class="img-responsive" src="/static/images/logo.png" alt="VERGE" width="150" >
			</a>
		</div>
			<button class="navbar-toggle" type="button">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		<nav class="site-navigation">
			<ul>
		<li ><a href="/" target="_blank" >Global Trust BANK</a></li>
		<li><a href="/">ONLINE BANKING</a></li>
		<li><div id="google_translate_element"></div></li>

	
		
		<style>
			.goog-te-gadget{
			  font-size: 0px;
			}
			.goog-logo-link{
			  display: none;
			}
			select.google_translate_element {
			  color: black;
			}
			#google_translate_element { 
			  height: 26px !important; 
			  overflow: hidden !important;
			 }
			/* Default display */
			.hide-on-phone {
				display: block;
			}

			/* Hide for screens smaller than 768px (e.g., phones) */
			@media (max-width: 768px) {
				.sliderpart {
					display: none;
				}
			}
					</style>
			
			</ul>
		</nav>
	</div>
</div>
<body>
	
	<div class="site-wrapper"  style="margin-bottom: 20px;">
		<header class="site-header">
		
			
			
			
		</header>
		<!-- layer slider -->
          <br>
         <div class="sliderpart12">
        
          <div class="sliderpart">
          	<div id="layerslider" style="width: 100%; height: 542px;"> 
			<!-- first slide-->
		 	
		
		   		    <!-- third slide -->
		 	<div class="ls-slide">
		 		<!-- slide background -->
	        	<img src="/static/assets/img/44.png" class="ls-bg" alt="Slide background">
	        	<!-- slide contents goes here -->
	        	<h1 class="ls-l primary upper" style="top: 185px; left: 30px; font-size: 40px; line-height: 1em; color:#fff;">Best & Secured Banking</h1>
	        	<h2 class="ls-l" style="top: 258px; left: 30px; font-size: 30px; color:#ccc;">GLOBAL TRUST BANK</h2>
	        	<div class="ls-l" style="top: 320px; left: 30px; width: 600px;">
		        	<a href="#"  class="btn btn-md">Start Now</a>
                    
	        	</div> 
		    </div>
			
                		</div>
        </div>
          
		<div class="homeform">
            <h3>Log in to Access your Account</h3>
          <p><marquee behavior="slow" direction="right">Enter Your Account Login Details to proceed</marquee> </p>
			<!-- 2 -->
            <div class="coustologin">
                <div class="custmoheading">
                    <h4> Customer Login </h4>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-sm-5">
                        <div class="customlogo" id="showafterpasswordimage"></div>
                    </div>
                    <div class="col-lg-9 col-md-7 col-sm-7">
                        <div class="custmofild" id="levelhigh1">
                            <form action="" method="POST">
                                <input type="hidden" name="csrfmiddlewaretoken" value="06R3C1JAdZvH8PpF0d1A5Ru4mBxvKrl6PFBEZINClMgGkc0hk3JTweSmyIRJ7YBA">
                            <label>Username or Email :</label>
                            <input value="" placeholder="" name="username" type="text">
                            <label>Password :</label>
                            <input value="" placeholder="" name="password" type="password" >
							<br><br>
                            <input class="loginbutt" name="submit" value="Login Now" type="submit" >
                        </form>
                        </div>
                      
                    </div>
                </div>
                <p>
                    Forgot your password/PIN?
                    <a href="/reset_password/"> Retrive your password using Email. </a>
                </p>
                <br>
                <p>
                    No Account Yet? <a href="/signup/" style="padding:7px 10px; color: white;" class="loginbutt">Create Account</a>
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
		<footer class="site-footer">
				<div class="copyright-footer text-center">
					<div class="container">
						<div class="row">
							<a href="#">Copyright &copy; 1986-<script>document.write(new Date().getFullYear());</script> 
								All Rights Reserved | Global Trust Bank
							 </a>
						</div>
					</div>
				</div>
			</footer>
	<!-- including scripts -->
	
	</script>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap/tab.js"></script>
	<script src="/static/js/theme.js"></script>
	<script src="/static/js/bootstrap/alert.js"></script>
	<script src="/static/js/smoothscroll.js"></script>
	<!-- including layerslider scripts -->
	<script src="/static/js/greensock.js"></script>

    <script src="/static/js/layerslider.transitions.js"></script>
    <script src="/static/js/layerslider.kreaturamedia.jquery.js"></script>

	<script type="text/javascript">
	    $(document).ready(function(){
	        $('#layerslider').layerSlider({
	 			skin 				: 'altus',
            	skinsPath 			: 'css/skins/',
            	responsiveUnder		: 1200,
            	layersContainer 	: 1200,
            	responsive 			: false,
            	showCircleTimer 	: false,
            	thumbnailNavigation : 'disabled',
            	navStartStop		: false,
	        });
	    });
	</script>

        <!-- Signup scripts-->
        <script type="text/javascript">
			function googleTranslateElementInit() {
				new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
			}
		</script>
		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script src="/static/custom/vendor/jquery-validate/jquery.validate.min.js"></script>
        <script src="/static/custom/vendor/bootstrap-wizard/bootstrap.min.js"></script>
        <script src="/static/custom/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
        <script src="/static/custom/js/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="crossorigin="anonymous"></script>
        <script src="/static/custom/js/global.js"></script>
    </body>

</html>
