

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Global Trust Bank|Forgot Password</title>
	<!-- including stylesheets -->
	<link rel="stylesheet" href="/static/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/core.css">
	<link rel="stylesheet" href="/static/css/theme.css">
	<!-- including layerslider stylesheets -->
	<link rel="stylesheet" href="/static/css/layerslider.css">
    <link rel="stylesheet" href="/static/css/skin.css">
	<script src="//code.tidio.co/gedqwiud4v5hxu1ldkkakmx2sfosir93.js" async></script>
	<!-- including colorpicker stylesheets -->
	<link href="/static/css/colorpicker.css" rel="stylesheet" type="text/css">
</head>
<body>
	
	<div class="site-wrapper">
		<header class="site-header">
		
			
			<div class="nav-wrap">
				<div class="container">
					<div class="site-logo retina">
							<a href="/">
							<img class="img-responsive" src="/static/images/logo.png" width="200px" alt="">
						</a>
					</div>
									<button class="navbar-toggle" type="button">
			        	<span class="sr-only">Toggle navigation</span>
			        	<span class="icon-bar"></span>
			        	<span class="icon-bar"></span>
			        	<span class="icon-bar"></span>
			      	</button>
					<nav class="site-navigation">
						<ul>
					<li ><a href="/">Home</a></li>
					<li><a href="/contact/">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
			
		</header>
		<!-- layer slider -->
          
         
        
          
<div class="container">
<div class="row">
<div class="col-md-12">
<div class=" forgotform">
<h3>Forgot Password</h3>
<p>If you have forgotten your password, enter your correct e-mail address below.
A link to reset your password will be be sent to your registered email address.</p>
<div class="coustologin">
<div class="custmoheading">
<h4> Retrive Your password</h4>
</div>
<form method="post" action="">
	<input type="hidden" name="csrfmiddlewaretoken" value="ucKRUXzZn89X8bTOUO3kdZUNgsem1YNOjLushED1vVUWkyuqeELDEmi5szyAov3i">
	

<div id="div_id_email" class="mb-3"> <label for="id_email" class="form-label requiredField">
                Email<span class="asteriskField">*</span> </label> <input type="email" name="email" autocomplete="email" maxlength="254" class="emailinput form-control" required id="id_email"> </div>

	<input class="loginbutt2" value="Send Mail" type="submit">
</form>
</div>
</div>
          </div>
      </div>
	
		</div>
	<footer class="site-footer">
			<div class="copyright-footer text-center">
				<div class="container">
					<div class="row">
					2023 © Global Trust Bank All right reserved 
					</div>
				</div>
			</div>
		</footer>
	<!-- including scripts -->
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap/tab.js"></script>
	<script src="/static/js/theme.js"></script>
	<script src="/static/js/bootstrap/alert.js"></script>
	<script src="/static/js/smoothscroll.js"></script>
	<!-- including layerslider scripts -->
	<script src="/static/js/greensock.js"></script>
     
    <script src="/static/js/layerslider.transitions.js"></script>
    <script src="/static/js/layerslider.kreaturamedia.jquery.js"></script>
     </body>
</html>